html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px 20px;
}


.title{
    font-family: '70', sans-serif;
    font-size: 3rem;
}

.book {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;

}



.sideBar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    height: 100%; 
    background-color: #e7e7e7;
}



.book{
    background-color: #f17c7c;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(185, 179, 179, 0.8);
    padding: 20px;
    width: 75%;
    text-align: center;
}


.book h2 {
    margin: 0;
    font-size: 1.4rem;
}

.book p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.remove-button {
    background: url(icons/trash-can-outline-custom.png) no-repeat center center;
    background-size: 100%;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
}

.toggle-read-button {
    background: url(icons/eye-outline-custom.png) no-repeat center center;
    background-size: 100%;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
}

.remove-button:hover {
    background: url(icons/trash-can-outline-custom\ \(1\).png) no-repeat center center;
    background-size: 100%;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
}

.toggle-read-button:hover {
    background: url(icons/eye-outline-custom1.png) no-repeat center center;
    background-size: 100%;
    width: 30px; 
    height: 30px;
    border: none;
    cursor: pointer;
}


.button-container{
    display: flex;
    gap: 30px;
    justify-content: center;
}


#showFormButton{
    background: url(icons/add-button.png) no-repeat center center;
    background-size: contain;
    width: 70px; 
    height: 70px;
    border: none;
    cursor: pointer;

}


.logo{
    background: url(icons/library\ logo.png) no-repeat center center;
    background-size: contain;
    width: 130px; 
    height: 130px;
    border: none;
}


@font-face {
    font-family: '70';
    src: url(70s-disco-font/70SdiscopersonaluseBold-w14z2.otf) format('woff2');;
}